.container {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin-bottom: 30px;
}
.container h1 {
  color: #48af78;
}
.container p {
  height: 20px;
  font-weight: 500;
  font-size: 16.9257px;
  letter-spacing: -0.005em;
  color: #959595;
}
